#collab {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  height: 30px;
  width: 220px;
  padding: 8px 12px;
  border: 1px solid #ddd;
  &:focus {
    outline: none;
    z-index: 2;
    border-color: #51a7e8;
    box-shadow: 0 0 5px rgba(81,167,232,0.5);
  }
}
.btn-collab {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 32px;
  padding: 7px 12px;
  color: white;
  margin-left: -4px;
  border: 1px solid #ddd;
  &:disabled {
    cursor: default;
  }
  &:hover {
    cursor: pointer;
  }
  &:disabled:hover {
    cursor: default;
  }
  &:focus {
    outline: none;
    border-color: #51a7e8;
    box-shadow: 0 0 5px rgba(81,167,232,0.5);
  }
}
.ui-menu .ui-menu-item a.ui-corner-all:hover, .ui-menu .ui-menu-item a.ui-corner-all:focus,
.ui-menu .ui-menu-item a.ui-corner-all:active {
  background: #4183c4;
  color: #ffffff;
  border-radius: 0;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover,
.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  background: #4183c4 !important;
  border: none;
  color: #ffffff !important;
  border-radius: 0;
  font-weight: normal;
}
